<template>
  <b-card :title="user.name">
    <img slot="img" :src="user.imgSrc" alt="img" class="card-img-top img-fluid rounded mx-auto d-block" />
    <div class="form-group text-center">
      <div class="col align-self-center">
        <div class="input-group">
          <input name="password" placeholder="Password" class="form-control" type="password" v-model="password">
          <span class="input-group-addon" style="background-color: #0275d8"><i class="fa fa-lock" style="color: white"></i></span>
        </div>
      </div>
    </div>
    <div slot="footer">
      <small class="text-muted">{{ user.lastLogin }}
         <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="del_user_localstorage" @click="deleteCardLogin(user.id)">×</span></button>
      </small>
    </div>
  </b-card>
</template>

<script>
  import {mapActions} from 'vuex'
  export default {
    data () {
      return {
        password: ''
      }
    },
    props: ['user'],
    methods: {
      ...mapActions(['deleteUser']),
      deleteCardLogin (x) {
        this.deleteUser(x)
      }
    }
  }
</script>
<style>
  .card-img-top {
    width: 220px;
    margin-top: 2rem;
  }
  .card-title {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    color: #0275d8;
  }
</style>
