<template>
  <div clasZws="container">
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-10">
        <div class="account-wall">
          <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
               alt="">
          <b-form @submit="onSubmit">
            <b-form-group id="InputGroup1">
              <b-input-group right="<i class='fa fa-user'</i>">
                <b-form-input id="Input1"
                              type="text" v-model="form.user" required
                              placeholder="Usuário"
                ></b-form-input>
              </b-input-group>
            </b-form-group>
            <b-form-group id="InputGroup2">
              <b-input-group right="<i class='fa fa-lock'</i>">
                <b-form-input id="Input2"
                              type="password" v-model="form.password" required
                              placeholder="Senha"
                ></b-form-input>
              </b-input-group>
            </b-form-group>
            <b-form-group id="InputGroup3">
              <b-form-checkbox v-model="form.checked" id="Input3">
                Lembrar senha
              </b-form-checkbox>
            </b-form-group>
            <b-button type="submit" variant="primary">Entrar</b-button>
            <b-button type="reset" variant="secondary">Limpar</b-button>
          </b-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        form: {
          user: '',
          checked: false,
          password: ''
        }
      }
    },
    methods: {
      onSubmit (evt) {
        evt.preventDefault()
        alert(JSON.stringify(this.form))
      }
    }
  }
</script>
<style scoped>
  .form-signin
  {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading, .form-signin .checkbox
  {
    margin-bottom: 10px;
  }
  .form-signin .checkbox
  {
    font-weight: normal;
  }
  .form-signin .form-control
  {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-signin input[type="text"]
  {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .form-signin input[type="password"]
  {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .account-wall
  {
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  .profile-img
  {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  form {
    padding-left: 5%;
    padding-right: 5%;
  }
</style>
