<template>
  <div>
    <transition name="slide-fade" mode="out-in">
      <div v-if="hasUser">
        <b-card-group deck >
          <card-login :user="user" v-for="user in users" :key="user.id"></card-login>
        </b-card-group>
        <button type="button"@click="changeView">Novo Login</button>
      </div>
      <form-login v-else></form-login>
    </transition>
  </div>
</template>

<script>
  import CardLogin from './login/components/card-login.vue'
  import FormLogin from './login/components/form-login.vue'
  import {mapActions, mapGetters} from 'vuex'

  export default {
    components: {
      CardLogin,
      FormLogin
    },
    data () {
      return {
        usersTeste: [
          {
            id: 1,
            name: 'ASDASDASD',
            imgSrc: 'http://josejailton-com-br.umbler.net/img/foto1.jpg',
            lastLogin: 'Ultimo acesso a 15 mins'
          },
          {
            id: 2,
            name: 'DFDFDFDF',
            imgSrc: 'http://josejailton-com-br.umbler.net/img/foto2.jpg',
            lastLogin: 'Ultimo acesso a 55 mins'
          }
        ],
        hasUser: false
      }
    },
    mounted () {
      localStorage.setItem('users', JSON.stringify(this.usersTeste))
      const usersLocalStorage = JSON.parse(localStorage.getItem('users'))
      if (usersLocalStorage) { this.hasUser = true }
      this.setUsers(usersLocalStorage)
    },
    computed: {
      users: function () {
        return this.getUsers()
      }
    },
    methods: {
      ...mapActions(['setUsers']),
      ...mapGetters(['getUsers']),
      changeView () {
        this.hasUser = false
      }
    }
  }
</script>

<style>
.card-deck {
  margin: 2rem;
  text-align: center;
}
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(100px);
  opacity: 0;
}
</style>
